* {
	box-sizing: border-box;
	margin: 0;
}
body {
	font-family: "Raleway", "Arial", sans-serif;
}

.container { 
	overflow: hidden;
	margin: 0 auto; 
	width: 1200px;
	padding: 0 16px;
}

header {
	background: url("images/header-backgroudn.jpg"); 
	color: white;
}

nav:after {
	content: "";
	display: table;
	clear: both;
}

.logo:hover{
	opacity: 0.5;
}

nav ul {
	float: right;
	list-style: none;
}

nav  li {
	display: inline-block;
  padding: 40px 0;
}
nav li + li {margin-left: 57px}


.menu{
	color:inherit;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu:hover {
    color: #66697e;
  }  

nav .logo {
	float: left;
  padding: 38px 0;
}

header h1 { 
	text-align: center;
	margin: 142px 100px 0 97px;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 65px;
	font-weight: 700;
	line-height: 71px;
	text-transform: uppercase;
}

header p {
	text-align: center;
	margin: 25px 100px;
	font-size: 22px;
	line-height: 33px;
}

.findButton {
	display: block;
	width: 200px;
	margin: 73px auto 157px;
	padding:14px;

	font-size: 13px;
  font-weight: 600;
	color: white;
  text-transform: uppercase;

	border-style: none;
	border-radius: 5px;
	background: #e84545;
}

.findButton:hover {
	opacity :0.5;
}
main .container {
	margin-top:58px;
	margin-bottom:113px; 
}

.block {
	float: left;
	width: 33.333%;
}

.block:nth-child(3n+1){
	clear: left;
}
.block * {
	text-align: center
}

main .block{
	padding: 62px 42px 10px;
}

main .block h2 {
	padding-top: 32px;
  padding-bottom: 17px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
}

main .block p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #6c7279;
}


.features {
	display: block;
	margin: 0 auto;
	background: url("images/spriteicon.png") no-repeat;
}

.features-icon1 {
    width: 60px;
    height: 60px;
    background-position: 0 0;
}

.features-icon2 {
    width: 73px;
    height: 60px;
    background-position: -60px 0;
}

.features-icon3 {
    width: 41px;
    height: 60px;
    background-position: -133px 0;
}

.features-icon4 {
    width: 56px;
    height: 60px;
    background-position: -174px 0;
}

.features-icon5 {
    width: 72px;
    height: 60px;
    background-position: -230px 0;
}

.features-icon6 {
    width: 79px;
    height: 60px;
    background-position: -302px 0;
}

.projects {
  overflow: hidden;
}

.project-block { 
	float: left;
	width: 25%;
	height: 350px;
	border: 1px solid white;
}
.project-block:nth-child(4n+1) {
	clear: left;
}
 

.project-block figure{
	position: relative;
	overflow: hidden;
	width: 100%;
  height: 100%;
  font-size:0;
  text-align: center;
}

.project-block img{
	width:100%;
	height: 100%; 
 	object-fit: cover; 
}
.project-block figcaption{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding-top:175px;
  opacity: 0;
  background: #e84545 ;
}

.project-block figcaption:hover{
	  opacity: 0.9;	
}

.project-block h3 {
	font-weight: 700;
  font-size: 14px;
  color: white;
}

.project-block p {
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.team {
	margin: 41px -16px 17px -16px;
	font-size: 0;
}

.member {
	display: inline-block;
	width: 270px;
	margin: 0px 15px 0 15px;
	vertical-align: top;
}

.member h4 {
	margin-top: 27px;
  font-size: 22px;
  color: #2d3033;
}

.member h5 {
	margin-top: 8px;
  font-size: 13px;
  text-transform: uppercase;
  color: #e84545;
}

.member p {
	margin-top: 22px;
  font-size: 14px;
  line-height: 21px;
  color: #6c7279;
}

.member ul{
	list-style: none;
	padding:0;
	margin-top: 25px;
}
.member li{
	display: inline-block;
}
.member li+li{
	margin-left: 4px ;
}
.member .social {
    background-image: url(images/socialicons.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
}

.member .social:hover{
	filter: contrast(25%);
}

.member .facebook { 
    background-position: -1px -150px;
}

.member .twitter {
    background-position: -1px -250px;
}

.member .linkedin {
    background-position: -1px -200px;
}

footer *{
	color: #66697e;
	text-align: center;
	font-size: 14px;	
  font-weight: 400;
}

footer .container{
	margin-top: 58px;
}

footer .footer {
	background-color: rgb(58,62,100);
	padding:10px;
}


footer h2 {
font-size: 14px;	
font-weight: 700;
text-transform: uppercase;

}

footer .location p {
	
padding:14px 65px;
line-height: 22px;
}

footer .about p {
line-height: 22px;	
padding:14px 33px;
}



.share ul{
	list-style: none;
	padding:0;
	margin-top: 18px;
}
.share li{
	display: inline-block;
}
.share li+li{
	margin-left: 4px ;
}
	

footer li .social {
    background-image: url(images/socialicons.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}
footer li .social:hover{
  filter: contrast(25%);
 }

footer .facebook {
    background-position: 0 0;
}

footer .twitter {
    background-position: 0px -50px;
}

footer .linkedin {
    background-position: 0px -100px;
}

.copyright {
	background-color: rgb(49,52,84);
	padding:26px;
}


/*.copyright b {
	color: #e84545;
}*/

.copyright p {
	color: rgb(128,128,128);
	margin-top: 4px;
}


